@import 'partials/variables',
        'partials/topnav',
        'partials/footer';




// =====================================================================================
// // HOME PAGE
// =====================================================================================
* {box-sizing: border-box}
body {font-family: Verdana, Arial, Helvetica, sans-serif;margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    grid-column: 1 / 8;
    grid-row: 3 / 8;

    button {
      border-radius: 4px;
      -webkit-appearance: button;
      background-color: $firthColor;
      border: none;
      color: $thirdColor;
      text-align: center;
      font-size: 14px;
      padding: 16px 14px;
      width: 80px;
      transition: all 0.5s;
      // box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
      cursor: pointer;
      // display: inline-block;
      position: relative;
      transition: 0.5s;
      left: 42%;
      bottom: 150px;

      :hover:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 14px;
        left: 110px;
        transition: 0.5s;
        background-color: $firthColor;
        border-radius: 4px;
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
        position: absolute;
        margin-left: -1em;
        text-shadow: none;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        font-variant: none;
        line-height: 1em;
        text-transform: none;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        transition: all .2s;
        width: 90px;
     }

      :hover{
        padding-right: 24px;
        padding-left:8px;
      }

      :hover:after {
        opacity: 2;
        right: 110px;

      }
    }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: $secondColor;
    font-weight: bold;
    font-size: 54px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: black;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-size: 10px;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: $fourthColor;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: $mediuumColor;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  *{ box-sizing: border-box;}

  .text_over_image {
     position: relative;
     max-width: 100%;
     margin: 0 auto;
  }

  .text_over_image img {vertical-align: middle;}

  .text_over_image .content {
     position: absolute;
     bottom: 197px;
     background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
     color: $tertiaryColor;
     width: 50%;
     padding: 20px;
     margin-left: 300px;
  }

  .active, .dot:hover {
    background-color: $backGround;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }


  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* On smaller screens, decrease text size */
  @media  screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
}

  #paragraph1{

    grid-column:1 / 5;
    grid-row: 8 / 12;
  }
  .image_container{
    display: grid;
    grid-column: 5 / 8 ;
    grid-row: 8 / 12;


   #image1{
     grid-column: 5 / 6;
     grid-row: 8 / 9;
     width: 200px;
     height: 200px;
   }

   #image2{
     grid-column: 7 / 8;
     grid-row: 8 / 9 ;
     width: 200px;
     height: 200px;
   }

   #image3{
     grid-column: 5 / 6;
     grid-row: 11 / 12 ;
     width: 200px;
     height: 200px;
   }

   #image4{
     grid-column: 7 / 8 ;
     grid-row: 11 / 12 ;
     width: 200px;
     height: 200px;
   }
  }

  .icons{
    grid-column: 1 / 8;
    grid-row: 12 / 14 ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    background-color: $thirdColor;
    color: $firstColor;
    text-align: center;

    img{
      width: 90px;
      height:90px;
      position: relative;
      left: 5%;

    }
 }

 .portfolio{
   grid-column: 1 / 8;
   grid-row: 14 / 20;

   .pictures{
     grid-column: 1 / 8;
     grid-row: 14 / 20 ;
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-template-rows: 1fr;

      img{
        width: 300px;
        height:300px;
     }

     #image5{
       grid-column: 1 / 2;
       grid-row: 15 / 16;

     }

     #image6{
       grid-column: 2 / 4;
       grid-row: 15 / 16 ;

     }

     #image7{
       grid-column: 1 / 2;
       grid-row: 17 / 19;

     }

     #image8{
       grid-column: 2 / 4;
       grid-row: 17 / 19;

     }

     #image9{
       grid-column:  4 / 6 ;
       grid-row: 15 / 19;

     }
   }
  }

// ========================================================================================
  // CONTACT PAGE
// =========================================================================================

  section{
    background-color: $firthColor;
    grid-column: 1 / 8;
    grid-row: 3 / 4;
    text-align: center;

    a {
      color: $thirdColor;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-family: 'Raleway', sans-serif;
    }
    a:hover {
      background-color: $secondColor;
      color: black;
    }
  }
  h4{
    background-color: $firthColor;
    height: 35px;
    text-align: center;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border-radius:6px;
    -webkit-box-shadow:
    0 2px 4px 0 rgba(72, 72, 72, 0.83),
    0 10px 15px 0 rgba(126, 126, 126, 0.12),
    0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
    0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    -moz-box-shadow:
    0 2px 4px 0 rgba(72, 72, 72, 0.83),
    0 10px 15px 0 rgba(126, 126, 126, 0.12),
    0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
    0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    box-shadow:
    0 2px 4px 0 rgba(72, 72, 72, 0.83),
    0 10px 15px 0 rgba(126, 126, 126, 0.12),
    0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
    0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
  }

  h3{
    grid-column: 1 / 8;
  }
  #mapGuide{
    grid-column: 1 / 8;
    grid-row: 6 / 13;
  }
  .more_info{
    float: right;
    position: relative;
    bottom: 42%;

  }

  // ===========================================================================
  //                               FORM
  //============================================================================
  .form_container {
    border-radius: 5px;
    background-color: $fourthColor;
    padding: 20px;
    grid-column: 1 / 8;
    grid-row: 4 / 7;


    form{
      margin-left: 20%;
      grid-column: 1 / 8 ;


      input[type=text], select, textarea {

        padding: 12px;
        border: 1px solid $borderColor;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: horizontal;
      }

      input[type=submit] {
        background-color: $firthColor;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 20px;
        grid-row: 7;

      }

      input[type=submit]:hover {
        background-color: $secondColor;
      }

      #lname {
        grid-column: 2 / 3;
        grid-row: 4 / 5 ;
      }

      #subject{
        width: 600px;
      }

    }

  }
//   ==============================================================================================================
//                                           PORTIFOLIO PAGE
//   ==============================================================================================================
body {
  padding: 30px 0;
  position: relative;
}
.description{
  grid-column: 1 / 8 ;
  grid-row: 4 / 5;
}

.gallery {
  width: 600px;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  grid-column: 1 / 8 ;
  grid-row: 5 / 19 ;
  background-color: $fourthColor;
  width: 70%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  border-radius:10px;
  -webkit-box-shadow:
  0 2px 4px 0 rgba(72, 72, 72, 0.83),
  0 10px 15px 0 rgba(126, 126, 126, 0.12),
  0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
  0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
  -moz-box-shadow:
  0 2px 4px 0 rgba(72, 72, 72, 0.83),
  0 10px 15px 0 rgba(126, 126, 126, 0.12),
  0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
  0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
  box-shadow:
  0 2px 4px 0 rgba(72, 72, 72, 0.83),
  0 10px 15px 0 rgba(126, 126, 126, 0.12),
  0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
  0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;


  .img-c {
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    overflow: hidden;
  }

  .img-w {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform ease-in-out 300ms;
  }

  .img-w img {
    display: none;
  }

  .img-c {
      transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
  }

  .img-c:hover .img-w {
    transform: scale(1.08);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
  }

  .img-c.active {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    z-index: 2;
    //transform: translateX(-50%);
  }

  .img-c.postactive {
    position: absolute;
    z-index: 2;
    pointer-events: none;
  }

  .img-c.active.positioned {
    left: 0 !important;
    top: 0 !important;
    transition-delay: 50ms;
  }
}



// ===================================================================================
//
//                                 ABOUT PAGE
// ===================================================================================

.paragraph6{
  grid-column: 1 / 4 ;
  grid-row: 6 / 9;
}

#image14{
  grid-column: 5 / 8 ;
  grid-row: 6 / 9 ;

}

button{
  grid-column: 2 / 3 ;
  grid-row: 8;
  border-radius: 4px;
  -webkit-appearance: button;
  background-color: $firthColor;
  border: none;
  color: $thirdColor;
  text-align: left;
  font-size: 14px;
  padding: 18px 10px;
  width: 80px;
  transition: all 0.5s;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  // left: 42%;
  // bottom: 150px;

  :hover:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 14px;
    left: 110px;
    transition: 0.5s;
    background-color: $firthColor;
    border-radius: 4px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    position: absolute;
    margin-left: -1em;
    text-shadow: none;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-variant: none;
    line-height: 1em;
    text-transform: none;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    width: 90px;
 }

  :hover{
    padding-right: 24px;
    padding-left:8px;
  }

  :hover:after {
    opacity: 2;
    right: 110px;
  }
}

#image15{
  grid-column: 1 / 5 ;
  grid-row: 9 / 11 ;
}
.ourPurpose{
  grid-column: 4 / 8;
  grid-row: 9 / 12 ;
  .whoWeAre{
   grid-column: 4 / 8;
  }

  #paragraph7{
    grid-column: 4 / 8;
    grid-row: 10;
  }
  .vision{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-column: 4 / 8;
    grid-row: 9 / 12 ;

    #paragraph8{
      grid-column: 1 / 2;
      // grid-row: 1 / 2;
    }

    #paragraph9{
      grid-column: 3 / 5;
      // grid-row: 1 / 2 ;
    }

    #paragraph10{
      grid-column: 1 / 2;
      // grid-row: 2 / 4;
    }

    #paragraph11{
      grid-column: 3 / 5;
      // grid-row: 2 / 4 ;
    }

  }

}
h3{
  grid-column: 1 / 8;
}
.meet-the-team{
grid-column: 1 / 9 ;
grid-row: 20 / 24;

.team-members{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
// text-align: center;


.emma{
  grid-column: 1 / 3;
  grid-row: 1 / 2 ;
}

.andrea{
  grid-column: 3 / 5;
  grid-row: 1 / 3 ;
}

.tegan{
  grid-column: 1 / 3 ;
  grid-row: 2 / 3;
}
.tracy{
  grid-column: 3 / 5 ;
  grid-row: 2 / 3 ;
}
}


img{
width: 25%;
height:25%;
filter: drop-shadow(4px 4px 10px rgba(0,0,0,0.9));
}

hr{
position: relative;
left: 0%;
top: 5%;
width:250px;
opacity: 0.3;
}
}
.partners{
grid-column: 1 / 9 ;
grid-row: 20 / 24;
background-color: #FF5252;

&:hover{
background-color: black;
}
}

// the home page timer

table{
background-color: black;
width: 100%;
}

.timerup{
grid-column: 1 / 8 ;
grid-row: 23 / 26;
border: 1px solid black;
text-align: center;
color: whitesmoke;
width: 100%;
padding: 0%;
word-wrap: break-word;
}

// subscribe to us section
subscribe{
grid-column: 1 / 9 ;
grid-row:26 / 27;
text-align: center;
word-wrap: break-word;

// resize the input button
#subcribe-input{
  width:20%;
  border-radius: 10%;
  // border: lightblue;
  &:hover{
    border-color: #FF5252;
  }
}
}
  // my carousal
carousal{
grid-column: 1 / 8 ;
grid-row: 27 / 29;
position: relative;
bottom: 5px;
display: inline;

img{
width: 10%;
height: 20%;
}
}

.tech-slideshow {
border: solid black 2px;
overflow: hidden;
}

.mover-1 {
width: 2500%;
background: url(../images/carousalremake.png);
height: 100%;
background-size:contain;
transform: translate3d(0, 0, 0);
margin: 0;
}
.tech-slideshow .mover-1 {
animation: moveSlideshow 50s linear infinite;
}


@keyframes moveSlideshow {
100% {
transform: translatex(-46.6666%);
}
}
.counter{
border-top: 2px solid #e38f84;
    width: 20px;
    margin-left: 13px;
    display: inline;
}
.counterTerm{
  margin-top: -10px;
  font-size: 18px;
}

// ================================================================================
//
//                            COURSES PAGE
// ================================================================================
//
*{
	margin: 0px;
	padding: 0px;
}

body{
  background-color:  #f2f2f2;
	background-repeat: no-repeat;
	background-size: cover;
}



.fa{
  cursor: pointer;
}

.header{
	width: 100%;
	overflow: auto;
	background-color: $firthColor;
	color:black ;
	clear: both;
	padding: 20px 50px;
	box-sizing: border-box;
  grid-column: 1 / 8 ;
  grid-row: 4 / 5;
}

.heading{
	float: left;
}

.cart{
	float: right;
	text-align: center;
}

.total-text p{
	display: inline;
}

#cart-items{
	position: absolute;
	right: 20px;
	top: 10%;
	background-color:   $firthColor;
	margin-top: 50px;
	padding: 50px 40px;
	z-index: 999;
  // grid-column: 1 / 8 ;
  // grid-row: 5 / auto;
}

.item{
	position: relative;
	float: left;
	margin: 1%;
	border: 1px solid $firthColor;
	width: 30%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
  grid-column: 1 / 8 ;
  grid-row: 5 / auto;
}

.item-detail h4{
	color: #fff;
}

.item-detail p{
	color: black;
	font-weight: bold;
}

.prices p{
	display: inline;
}

.overflow{
	background-color: rgba(0, 0, 0, 0.5);
	color: #00a000;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80%;
	opacity: 0;
	transition: opacity 1s;
}

.overflow i{
	position: absolute;
    top: 20%;
    left: 40%;
}

.overflow:hover{
	opacity: 1;
}

.price-display{
	float: right;
}

.remove{
	background-color:  $firthColor;
	border-color:  $firthColor;
	border-radius: 3px;
	color: #fff;
	margin: 0px 5px;
	padding: 0px 2px;
	float: right;
}

#list-item li{
	margin: 10px 0px;
}
