// my variables
$firstColor:white;
$secondColor:pink;
$thirdColor:black;
$fourthColor:#f2f2f2;
$firthColor:#CD7F7F;
$baseColor:#fff;
$mediuumColor:#bbb;
$tertiaryColor:#f1f1f1;
$backGround:#717171;
$borderColor:#ccc;
$inputBackGround:#4CAF50;
